@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-100: #FFFBDC;
  --color-brand-200: #FFD3A5;
  --color-brand-300: #FFAA68;
  --color-brand-400: #FF8237;
  --color-brand-500: #FF5900;
  --color-brand-600: #CC4700;

  --color-dark-base: #4F4236;
  --color-dark-surface: #6D5C4B;
}
